<a href="https://colab.research.google.com/github/jemelike/spark_snippets/blob/main/aggregate_multiple_pandas_dataframes_into_a_single_spark_dataframe_via_unionbyname.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas numpy pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
import numpy   as np
import pandas  as pd
import pyspark as spark

In [ ]:
def generate_pandas_df(max_num_columns:int=10, max_num_rows:int=10)-> pd.DataFrame:
  num_cols = np.random.randint(1, high=max_num_columns)
  num_rows = np.random.randint(1, high=max_num_rows)

  return pd.DataFrame(np.random.randn(num_rows, num_cols)).copy()

In [ ]:
def pad_pandas_df(df: pd.DataFrame, total_field: int, prefix:str="FIELD_") -> pd.DataFrame:
  num_rows, num_col = df.shape
  new_df = df.copy()
  mapping = { k: f"{prefix}{idx}" for idx, k in enumerate(new_df.columns) }
  new_df = new_df.rename(columns=mapping)

  for i in np.arange(len(mapping), total_field):
    padded_col = f"{prefix}{i}"
    new_df[padded_col] = [None] * num_rows
  return new_df

In [ ]:
def build_generic_schema(df:pd.DataFrame)->pd.DataFrame:
  return spark.sql.types.StructType([ spark.sql.types.StructField(col,spark.sql.types.StringType(),True) for col in df.columns ])

In [ ]:
# Generate pd.DataFrames
pandas_dataframes = [generate_pandas_df() for i in range(250)]

# Determine the maximum number of columns
NUM_FIELDS      = max([ df.shape[1] for df in pandas_dataframes])
TOTAL_ROW_COUNT = sum([ df.shape[0] for df in pandas_dataframes])
TOTAL_COL_COUNT = NUM_FIELDS + 1 # Accounts for the added column
# Pad Datafranes
padded_pandas_dataframes = [pad_pandas_df(df, NUM_FIELDS) for df in pandas_dataframes]
# del pandas_dataframes

In [ ]:
assert len(set([ df.shape[1] for df in padded_pandas_dataframes])) == 1, "DataFrames do not contain the same number of columns."

In [ ]:
spark_session = spark.sql.SparkSession.builder.master("local").appName("app-unionByName-exercise").getOrCreate()

In [ ]:
# Test
spark_dataframes =[spark_session.createDataFrame(df, schema=build_generic_schema(df)).selectExpr(f"'table_no_{table_no}' as TABLE_no",'*') for table_no,df in enumerate(padded_pandas_dataframes)]
del padded_pandas_dataframes

In [ ]:
main_df = None
for union_count, df in enumerate(spark_dataframes):
  if main_df is None:
    main_df = df.alias("main")
  else:
    main_df = df.unionByName(main_df).alias(f"main_{union_count}")
  print(f"Union {union_count}")

In [ ]:
main_df.show()

+------------+--------------------+-------------------+--------------------+-------------------+-------------------+-------------------+------------------+--------------------+-------+
|    TABLE_no|             FIELD_0|            FIELD_1|             FIELD_2|            FIELD_3|            FIELD_4|            FIELD_5|           FIELD_6|             FIELD_7|FIELD_8|
+------------+--------------------+-------------------+--------------------+-------------------+-------------------+-------------------+------------------+--------------------+-------+
|table_no_249| -0.9505574125247941| 0.5391903961618045| -0.6815839660129692| 1.3091440803905519|               null|               null|              null|                null|   null|
|table_no_249|  1.4502969521656452|-0.2824001578351148|   2.084311639050579| 1.2200922181393752|               null|               null|              null|                null|   null|
|table_no_248| -1.1661180190870344| 1.1363926436977319| -0.8492702906038235|-0.6274478175869479| 0.2532678582766362|-0.2722065124720248|-0.606837574455455|-0.02146940891538...|   null|
|table_no_248| -1.1962551769076064| -2.200694001678494| -1.6454958924131287| 0.5610513396190405| -0.512360791129987|-0.7794655482158195| 2.075548545113826|  0.2036115743616064|   null|
|table_no_248|  0.8487464447238713| 1.4849801555850313|-0.02999924223583651|-0.4041372293343034| -0.272747361633859|-0.8095017770774906|-1.076841089788222| -0.7094369658954043|   null|
|table_no_248|   0.613130096096452|-0.6820302187678149| -0.5956138892498702|-0.9122400184348666|-0.3744685460368742| 0.6357515430958989|1.0992253521594826| 0.44017895068158497|   null|
|table_no_248| -1.0557186192736516| 0.5790219042605481| -1.3966381345177525|-0.7668412609824277|-0.7841363077225862|-0.7151000558416886| 0.585901973167607|  1.2021723730649154|   null|
|table_no_247| -1.8222757244530905|-0.8917328548110182| -0.8735203469302452|  1.454074440218841|-0.5902879115542963|               null|              null|                null|   null|
|table_no_247| -0.2459870125149717|-0.5530070039417319|  0.6455150055461937|-0.8787444053972493|-1.6676560326016603|               null|              null|                null|   null|
|table_no_247| -0.4682469195424241|-0.9357948394200484| 0.44524420466972736| 0.9104977052282958|0.36874757202601205|               null|              null|                null|   null|
|table_no_247|  -1.425915487933473|-0.3819006028675252|  2.7626684556555916| 3.0699715155478837|0.21248726636132287|               null|              null|                null|   null|
|table_no_247| -0.9081226863450058|-1.2153816932559556|  0.7851330913726278| 1.7954806597867305|-0.9984465758848516|               null|              null|                null|   null|
|table_no_247|-0.07623226755946362| 0.2700136601418448| -0.7963105513314633|-1.3386496092631883|-0.6298300183668379|               null|              null|                null|   null|
|table_no_247|  -1.625930254120639|0.11787336272529132|   -1.63064496916744| -1.110890545481305| 0.7556471990155721|               null|              null|                null|   null|
|table_no_246| -0.8561760461997667|0.10081391401114204|  0.9696446317242046|               null|               null|               null|              null|                null|   null|
|table_no_246| 0.15268671208179335|-0.5490783701350771|  0.8622602911530513|               null|               null|               null|              null|                null|   null|
|table_no_246| 0.35760798329164817| 0.1568860600230784| -1.2874477179907333|               null|               null|               null|              null|                null|   null|
|table_no_246|-0.24532505062513424|-1.3718162863344037|  0.9286261655126403|               null|               null|               null|              null|                null|   null|
|table_no_246|  0.9679490081364511|-1.2781838682051452|  1.7983527062450984|               null|               null|               null|              null|                null|   null|
|table_no_246|  0.8972725148257071| 0.6348558325832562|    0.80311980453953|               null|               null|               null|              null|                null|   null|
+------------+--------------------+-------------------+--------------------+-------------------+-------------------+-------------------+------------------+--------------------+-------+
only showing top 20 rows

In [ ]:
assert main_df.count() == TOTAL_ROW_COUNT, "Missing rows from union"

In [ ]:
assert len(main_df.columns) == TOTAL_COL_COUNT, "Missing columns from union"